Find the visual elements relating specifically to this problem in the image:

{{ problem_text }}

Identify and describe all relevant or referenced visual information. Do NOT include anything that is not related to the problem given or irrelevant context.